@theme {
  --font-sans: 'Roboto', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(-foreground);
  --color-card: var(--card);
  --color-card-high: var(--card-high);
  --color-card-medium: var(--card-medium);
  --color-card-low: var(--card-low);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-checkbox-mark: var(--checkbox-mark);
  --animate-spin: spin 3s linear infinite;
  --animate-loading: loading 1.2s linear infinite;

  @keyframes spin {
    from {
      --angle: 0deg;
    }

    to {
      --angle: 360deg;
    }
  }

  @keyframes loading {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.1;
    }
    100% {
      scale: 1;
    }
  }
}
