@layer utilities {
  /* Outline */
  .focus-visible-outline:focus {
    @apply outline-0;
  }

  .focus-visible-outline:focus-visible {
    @apply outline-ring outline-2 outline-offset-2 outline-dashed;
  }

  /* Input */

  .no-spinner {
    @apply [appearance:textfield];
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    @apply m-0 appearance-none;
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  .timer-border {
    @apply relative;
  }

  .timer-border:before,
  .timer-border:after {
    @apply absolute top-1/2 left-1/2 -z-1 h-[calc(100%+16px)] w-[calc(100%+16px)] -translate-1/2 animate-spin rounded-2xl content-[''];

    background: conic-gradient(
      from var(--angle),
      #ffe5ce,
      #ffd0ba,
      #ffb9b0,
      #ffa2b0,
      #fd8dba,
      #ec7cca,
      #cd72de,
      #bc9ff6,
      #ffe5ce
    );
  }

  .timer-border:before {
    @apply blur-sm;
  }

  .checkbox {
    @apply relative;
  }

  .checkbox:checked:before {
    @apply border-checkbox-mark absolute top-[7px] left-1/2 h-[10px] w-[16px] -translate-x-1/2 -rotate-45 border-b-3 border-l-3 border-solid content-[''];
  }
}
