@use '@/shared/styles/mixins' as mixins;

.button {
  display: flex;
  column-gap: var(--space-1);
  justify-content: center;
  align-items: center;
  min-width: var(--size-6);
  min-height: var(--size-6);
  padding: var(--space-1) var(--space-2);
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
  font-weight: 500;
  background-color: transparent;
  color: var(--foreground-primary);

  @include mixins.transition(background-color, color);
  @include mixins.focus-outline;

  &--light {
    background-color: var(--background-primary);
    color: var(--foreground-primary);

    @include mixins.hover {
      background-color: var(--background-tertiary);
    }
  }

  &--dark {
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);

    @include mixins.hover {
      border-color: var(--border-dark);
      background-color: var(--background-transparent);
      color: var(--foreground-primary);
    }
  }

  &--icon {
    width: var(--size-6);
    height: var(--size-6);
    padding: unset;

    @include mixins.hover {
      background-color: var(--background-secondary);
      color: var(--foreground-secondary);
    }
  }

  &--fullWidth {
    width: 100%;
  }

  &--center {
    margin-inline: auto;
  }
}
