.header {
  margin-bottom: var(--space-4);
  padding-bottom: var(--space-2);
  border-bottom: 2px solid var(--border-gray);

  &__title {
    margin-bottom: var(--space-2);
    font-weight: 700;
    font-size: var(--font-size-3);
  }

  &__subtitle {
    font-weight: 400;
    color: var(--foreground-tertiary);
  }
}

.form {
  margin-bottom: var(--space-3);

  &__field {
    position: relative;
    margin-bottom: var(--space-3);

    &:has([data-error='true']) {
      margin-bottom: var(--space-4);
    }
  }
}
