@use '@/shared/styles/media' as media;
@use '@/shared/styles/mixins' as mixins;

.input-wrapper {
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
  }

  &--icon-left {
    svg {
      left: var(--space-1);
    }
  }

  &--icon-right {
    svg {
      right: var(--space-1);
    }
  }
}

.input {
  width: 100%;
  height: var(--size-6);
  padding-block: var(--space-1);
  border: 2px solid var(--border-gray);
  border-radius: var(--border-radius-2);
  background-color: transparent;

  @include mixins.transition(background-color, border-color);

  @include mixins.hover {
    border-color: var(--border-dark);
    background-color: var(--background-primary);
  }

  @include mixins.focus {
    border-color: var(--border-dark);
  }

  &[aria-invalid='true'] {
    border-color: var(--border-red);
  }

  &--default {
    padding-inline: var(--space-2) var(--space-2);
  }

  &--icon-left {
    padding-inline: var(--space-4) var(--space-2);
  }

  &--icon-right {
    padding-inline: var(--space-2) var(--space-4);
  }
}
