.error {
  position: absolute;
  font-weight: 400;
  font-size: var(--font-size-small);
  color: var(--foreground-error);

  &--bottom-left {
    bottom: calc(var(--space-2) * -1);
    left: var(--space-1);
  }

  &--top-right {
    top: var(--space-0);
    right: var(--space-0);
  }
}
