@use '@/shared/styles/media' as media;
@use '@/shared/styles/mixins' as mixins;

.select-wrapper {
  position: relative;
  width: max-content;

  svg {
    position: absolute;
    top: 50%;
    right: var(--space-2);
    pointer-events: none;
    translate: 0 -50%;
    rotate: -90deg;
  }
}

.select {
  width: max-content;
  height: var(--size-6);
  padding-inline: var(--space-2) var(--space-5);
  padding-block: var(--space-1);
  border: 2px solid var(--border-gray);
  border-radius: var(--border-radius-2);
  background-color: transparent;
  appearance: none;

  @include mixins.transition(background-color, border-color);

  @include mixins.hover {
    border-color: var(--border-dark);
    background-color: var(--background-primary);
  }

  @include mixins.focus {
    border-color: var(--border-dark);
  }

  &[aria-invalid='true'] {
    border-color: var(--border-red);
  }
}
