@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin focus {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    @content;
  }
}

@mixin focus-outline(
  $outline: var(--outline),
  $outline-offset: var(--outline-offset)
) {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: $outline;
    outline-offset: $outline-offset;
  }
}

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin active() {
  &:active {
    @content;
  }
}

@mixin text-truncate($rows) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: $rows;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $rows;
}

@mixin transition($properties...) {
  $duration: 0.2s;
  $function: ease-in-out;

  transition-timing-function: $function;
  transition-duration: $duration;
  transition-property: $properties;
}

@mixin visually-hidden {
  position: fixed;
  transform: scale(0);
}
