@use './media' as media;

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.hidden-laptop {
  @include media.laptop {
    display: none;
  }
}

.visible-laptop {
  @include media.laptop-above {
    display: none;
  }
}

.hidden-tablet {
  @include media.tablet {
    display: none;
  }
}

.visible-tablet {
  @include media.tablet-above {
    display: none;
  }
}

.hidden-mobile-large {
  @include media.mobile-large {
    display: none;
  }
}

.visible-mobile-large {
  @include media.mobile-large-above {
    display: none;
  }
}
