@use './media' as media;

:root {
  /* Common colors */
  --color-dark: #1c1c1c;
  --color-gray: #ddd;
  --color-light: #fafafa;
  --color-light-green: #e6feec;
  --color-light-yellow: #fdf8ea;
  --color-light-purple: #f0f0ff;
  --color-red: #ff4d4d;

  /* Container */
  --container-width: 1200px;
  --container-padding-x: var(--space-2);

  /* Backgrounds */
  --background-primary: var(--color-light);
  --background-secondary: var(--color-dark);
  --background-tertiary: var(--color-gray);
  --background-task-low: var(--color-light-green);
  --background-task-medium: var(--color-light-yellow);
  --background-task-high: var(--color-light-purple);

  /* Foregrounds */
  --foreground-primary: var(--color-dark);
  --foreground-secondary: var(--color-light);
  --foreground-tertiary: var(--color-gray);
  --foreground-accent: var(--color-red);

  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --font-size-1: 40px;
  --font-size-2: 32px;
  --font-size-3: 24px;
  --font-size-4: 20px;
  --font-size-5: 18px;
  --font-size-base: 16px;
  --font-size-small: 12px;

  /* Sizes */
  --size-0: 4px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 32px;
  --size-5: 40px;
  --size-6: 48px;

  /* Spaces */
  --space-0: 4px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;

  /* Borders */
  --border-radius-0: 4px;
  --border-radius-1: 8px;
  --border-radius-2: 12px;
  --border-radius-3: 16px;
  --border-radius-4: 20px;
  --border-radius-5: 24px;
  --border-dark: var(--color-dark);
  --border-gray: var(--color-gray);
  --border-light: var(--color-light);
  --border-red: var(--color-red);

  /* Box-shadows */
  --shadow: 0 4px 10px var(--color-gray);

  /* Outline */
  --outline: 2px dashed var(--color-dark);
  --outline-offset: 2px;

  @include media.tablet {
    /* Fonts */
    --font-size-1: 32px;
    --font-size-2: 28px;
    --font-size-3: 20px;
    --font-size-4: 18px;
    --font-size-5: 16px;
    --font-size-small: 10px;
  }
}
