.notification {
  --type: var(--foreground-primary);

  position: fixed;
  z-index: 1001;
  display: inline-flex;
  column-gap: var(--space-2);
  justify-content: space-between;
  align-items: center;
  width: max-content;
  max-width: 400px;
  padding: var(--space-2);
  border-radius: var(--border-radius-2);
  background-color: var(--background-primary);
  color: var(--foreground-primary);
  box-shadow: var(--shadow);

  &--error {
    --type: var(--foreground-error);
  }

  &--success {
    --type: var(--foreground-success);
  }

  &--top-right {
    top: var(--space-2);
    right: var(--space-2);
  }

  &__icon {
    color: var(--type);
  }

  &__title {
    margin-bottom: var(--space-1);
    font-weight: 700;
  }
}
