@import 'tailwindcss';

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2') format('woff2');
  font-display: swap;
}

@layer base {
  :root {
    /* Common colors */
    --color-dark: #1c1c1c;
    --color-gray-dark: #a8a8a8;
    --color-gray: #bababa;
    --color-gray-light: #dadada;
    --color-light: #fafafa;
    --color-red: #ff4d4d;
    --color-green: #00cd67;

    /* Bg colors */
    --background-primary: var(--color-light);
    --background-secondary: var(--color-dark);
    --background-muted: var(--color-gray);
    --background-task-high: #f0f0ff;
    --background-task-medium: #fdf8ea;
    --background-task-low: #e6feec;

    /* Text colors */
    --foreground-primary: var(--color-dark);
    --foreground-secondary: var(--color-light);
    --foreground-muted: var(--color-gray);
    --foreground-accent: var(--color-red);
    --foreground-error: var(--color-red);

    /* Border colors */
    --border-primary: var(--color-dark);
    --border-secondary: var(--color-light);
    --border-muted: var(--color-gray-light);
    --border-error: var(--color-red);

    /* Fonts */
    --font-family: 'Roboto', sans-serif;

    /* Shadow */
    --shadow: 0 4px 10px var(--color-gray);
  }

  html {
    @apply relative box-border scroll-smooth;
  }

  body {
    @apply relative h-full min-h-screen min-w-[320px] overflow-x-hidden font-normal;

    font-family: var(--font-family);
    background-color: var(--background-primary);
    color: var(--foreground-primary);
  }
}

@theme {
  --animate-spin: spin 3s linear infinite;

  @keyframes spin {
    from {
      --angle: 0deg;
    }

    to {
      --angle: 360deg;
    }
  }
}

@layer utilities {
  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
  }

  .no-spinner {
    appearance: textfield;
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  .timer-border {
    position: relative;
  }

  .timer-border:before,
  .timer-border:after {
    @apply animate-spin;

    --border: 16px;

    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: calc(100% + var(--border));
    height: calc(100% + var(--border));
    border-radius: 16px;
    background: conic-gradient(
      from var(--angle),
      #ffe5ce,
      #ffd0ba,
      #ffb9b0,
      #ffa2b0,
      #fd8dba,
      #ec7cca,
      #cd72de,
      #bc9ff6,
      #ffe5ce
    );
    translate: -50% -50%;
  }

  .timer-border:before {
    filter: blur(20px);
  }

  .checkbox {
    position: relative;
  }

  .checkbox:checked:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 50%;
    width: 16px;
    height: 10px;
    border-bottom: 3px solid var(--border-secondary);
    border-left: 3px solid var(--border-secondary);
    translate: -50% 0;
    rotate: -45deg;
  }
}
