@import "tailwindcss";

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2') format('woff2');
  font-display: swap;
}

@layer base {
  :root {
    /* Common colors */
    --color-dark: #1c1c1c;
    --color-gray-dark: #a8a8a8;
    --color-gray: #bababa;
    --color-gray-light: #dadada;
    --color-light: #fafafa;
    --color-red: #ff4d4d;
    --color-green: #00cd67;

    /* Bg colors */
    --background-primary: var(--color-light);
    --background-secondary: var(--color-dark);
    --background-muted: var(--color-gray);
    --background-task-high: #f0f0ff;
    --background-task-medium: #fdf8ea;
    --background-task-low: #e6feec;

    /* Text colors */
    --foreground-primary: var(--color-dark);
    --foreground-secondary: var(--color-light);
    --foreground-muted: var(--color-gray);
    --foreground-accent: var(--color-red);
    --foreground-error: var(--color-red);

    /* Border colors */
    --border-primary: var(--color-dark);
    --border-secondary: var(--color-light);
    --border-muted: var(--color-gray-light);
    --border-error: var(--color-red);

    /* Fonts */
    --font-family: 'Roboto', sans-serif;

    /* Shadow */
    --shadow: 0 4px 10px var(--color-gray);
  }

  html {
    @apply relative scroll-smooth box-border;
  }

  body {
    @apply relative overflow-x-hidden min-w-[320px] h-full min-h-screen font-normal;
    font-family: var(--font-family);
    background-color: var(--background-primary);
    color: var(--foreground-primary);
  }
}

@layer utilities {
  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    appearance: textfield;
  }
}
