@use '@/shared/styles/mixins' as mixins;

.dropdown-menu {
  position: relative;
  z-index: 2;
  background-color: inherit;

  &__list {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    z-index: 100;
    width: max-content;
    border-radius: var(--border-radius-2);
    background-color: inherit;
    box-shadow: var(--shadow);
  }

  &__item {
    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:last-child {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }
  }

  &__button {
    display: flex;
    column-gap: var(--space-1);
    align-items: center;
    width: 100%;
    padding: var(--space-2) var(--space-3);
    padding-right: var(--space-5);

    @include mixins.transition(background-color);

    @include mixins.hover {
      background-color: var(--background-tertiary);
    }

    @include mixins.focus-outline;

    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:last-child {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }
  }
}
