@layer components {
  .morphing-border {
    --morph-border-width: 20px;
    --shadow-morph: 0 0 30px var(--morph-border-width) hsl(0 0% 0% / 0.7);
    --shadow-morph-inset: inset 0 0 30px var(--morph-border-width)
      hsl(0 0% 0% / 0.7);

    box-shadow: var(--shadow-morph-inset);
  }

  .morphing-border:before {
    content: '';
    position: absolute;
    inset: calc(var(--morph-border-width) * 0.5);
    z-index: 2;
    border-radius: 48% 52% 49% 53% / 50% 45% 55% 50%;
    background-color: transparent;
    box-shadow: var(--shadow-morph);
    animation: morph 3s linear infinite;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 48% 52% 49% 53% / 50% 45% 55% 50%;
    }
    34% {
      border-radius: 54% 46% 52% 48% / 54% 43% 57% 46%;
    }
    67% {
      border-radius: 47% 53% 51% 49% / 53% 58% 50% 55%;
    }
  }
}
