.dialog {
  flex-direction: column;
  column-gap: var(--space-4);
  width: calc(var(--size-1) * 72);
  height: max-content;
  padding: 0;
  border: none;
  border-radius: var(--border-radius-3);
  font-family: var(--font-family);

  &[open] {
    display: flex;
  }

  &:not([open]) {
    display: none;
  }

  &::backdrop {
    backdrop-filter: blur(10px);
  }

  &__container {
    padding: var(--space-4);
  }

  &__header {
    display: flex;
    column-gap: var(--space-4);
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-4);
    padding-bottom: var(--space-2);
    border-bottom: 2px solid var(--border-gray);
  }
}
