@use '@/shared/styles/mixins' as mixins;

.logo {
  display: inline-flex;
  column-gap: var(--space-0);
  align-items: center;
  min-height: var(--size-6);
  padding: var(--space-1) var(--space-2);
  border: 2px solid var(--border-dark);
  border-radius: var(--border-radius-2);
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--background-primary);
  color: var(--foreground-primary);

  @include mixins.focus-outline;
}
