@use '@/shared/styles/media' as media;
@use '@/shared/styles/mixins' as mixins;

.task-form {
  margin-bottom: var(--space-4);

  &__field {
    position: relative;
    margin-bottom: var(--space-2);

    &:has([data-error='true']) {
      margin-bottom: var(--space-4);
    }
  }

  &__datetime {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-2) var(--space-4);
    justify-content: space-between;
    align-items: center;
    align-items: center;

    @include media.tablet {
      gap: var(--space-2);
    }
  }

  &__select {
    width: max-content;
    height: var(--size-6);
    padding-inline: var(--space-2) var(--space-2);
    padding-block: var(--space-1);
    border: 2px solid var(--border-gray);
    border-radius: var(--border-radius-2);
    background-color: transparent;

    @include mixins.transition(background-color, border-color);

    @include mixins.hover {
      border-color: var(--border-dark);
      background-color: var(--background-primary);
    }

    @include mixins.focus {
      border-color: var(--border-dark);
    }
  }
}
